page-main {
  .clicked {
    background-color: #aaa;
    color: white;
  }
  .unclicked {
    background-color: #FFF;
    color: black;
  }
  .button {
    border-radius: 10px;
    text-transform: none;
  }
  #map {
    width: 100%;
    height: 100%;
    //background: transparent;
  }
  .tab_0 {
    position: absolute;
    margin-bottom: 0px;
  }
  .tab_4 {
    position: absolute;
    margin-bottom: 158px;
  }
  .slide_button {
    width: 20px;
    height: 10px;
    border-radius: 0;
    background-color: #aaaaaa;
    color: #000;
    margin-left: auto;
    margin-right: auto;
  }
  .bar-dark {
    background-color:rgba(256,256,256,0.8) !important;
  }

  .div1 {
    padding : 15px 20px 10px 20px;
    position: absolute;
    width: 50%;
    height: 150px;
    text-align: left;
    font-size: 10px;
  }

  .div2 {
    padding : 15px 20px 10px 20px;
    margin-left: 50%;
    width: 100%;
    height: 150px;
    text-align: left;
    font-size: 10px;
  }

  .div3 {
    height: 50px;
    width: 100%;
  }

  .div5 {
    width: 100%;
    height : 100px;
    font-size: 15px;
    text-align: left;
    padding : 20px 20px 10px 20px
  }
  .div6 {
    height : 100%;
    text-align: center;
    padding : 10px 20px 10px 20px
  }

  ul {
    padding: 0px;
    margin : 0px;
    height: 40px;
    &.rating li {
      padding: 0px 1px !important;
      background: none;
      //ion-icon {
      //  font-size: 30px;
      //}
    }
  }
  .btn_tag_black {
    width: 80px;
    height: 50px;
    color: #FFFFFF;
    background-image: url('../assets/imgs/profile-tag-black1.png');
    background-size: cover;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }
  .btn_tag_golden {
    width: 80px;
    height: 50px;
    color: #FFFFFF;
    background-image: url('../assets/imgs/profile-tag-golden -1.png');
    background-size: cover;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }
  .btn_star_black {
    width: 57px;
    height: 57px;
    color: #FFFFFF;
    background-image: url('../assets/imgs/5-start-black.png');
    background-size: cover;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }
  .btn_star_golden {
    width: 57px;
    height: 57px;
    color: #FFFFFF;
    background-image: url('../assets/imgs/5-start-golden.png');
    background-size: cover;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }
  .btn_distance_black {
    width: 63px;
    height: 60px;
    color : #000000;
    background-image: url('../assets/imgs/distance-black.png');
    background-size: contain;
    background-repeat:no-repeat;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    padding-top: 40px;
  }

  .btn_distance_golden {
    width: 63px;
    height: 60px;
    color : #ddb05a;
    background-image: url('../assets/imgs/distance-golden.png');
    background-size: contain;
    background-repeat:no-repeat;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    padding-top: 40px;
  }
}
