<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>
  <ion-row style="font-weight: bold">
    <ion-col col-4>
      <button ion-button clear (click)="changeToolId(1)" [ngClass]="toolId==1?'clicked':'unclicked'">
        Cheapest
      </button>
    </ion-col >
    <ion-col col-4>
      <button ion-button clear (click)="changeToolId(2)" [ngClass]="toolId==2?'clicked':'unclicked'">
        Best rated
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear (click)="changeToolId(3)" [ngClass]="toolId==3?'clicked':'unclicked'">
        Closest
      </button>
    </ion-col>

  </ion-row>

</ion-header>

<ion-content>
  <div #map id="map" [style.bottom]="tabId===0?'0px':'0px'">
  </div>

</ion-content>
<ion-footer class="bar-dark" text-center>

  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide  *ngFor="let beer of _beer" no-padding >

      <div *ngIf="tabId>0">
        <ion-row style="height: 4px; background-color: #aaaaaa;">
          <button ion-button class="slide_button" (click)="changeToolId(-1)">
            <ion-icon ios="ios-arrow-down" md="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-row>
        <ion-row style="height: 100px; padding-top : 10px">
              <ion-scroll scrollY="true" style="width: 100%; height: 70px; ">

                <img src="{{beer.logoUrl}}" style="position: absolute; width: 80px; height: 80px; left: 10px;">
                <p style="margin: 0 10px 0 100px; font-size: 11px; text-align: left; font-weight: bold">{{beer.name}}</p>
                <div style="margin: 0 10px 0 100px; font-size: 10px; text-align: left">{{beer.description}}</div>

              </ion-scroll>

        </ion-row>
        <ion-row style="height: 4px; background-color: #aaaaaa">

        </ion-row>
        <ion-row style="height: 70px">
          <ion-col col-4>
            <button ion-button clear (click)="changeTabId(2)" style="height: 100%; padding : 5px 20px 5px 20px" no-margin>
              <div *ngIf="tabId!=2" class="btn_tag_black">&nbsp;&nbsp;{{beer.price}}{{beer.currencyunit}}</div>
              <div *ngIf="tabId==2" class="btn_tag_golden">&nbsp;&nbsp;{{beer.price}}{{beer.currencyunit}}</div>
            </button>
          </ion-col >
          <ion-col col-4>
            <button ion-button clear (click)="changeTabId(3)"  style="height: 100%; padding : 0px 20px 5px 20px"  no-margin>
              <div *ngIf="tabId!=3" class="btn_star_black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{beer.ave_rate}}</div>
              <div *ngIf="tabId==3" class="btn_star_golden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{beer.ave_rate}}</div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button clear (click)="changeTabId(4)"  style="height: 100%; padding : 0; width: 80px"  no-margin>
              <div *ngIf="tabId!=4" class="btn_distance_black">{{beer.distance_km}}km</div>
              <!--<div *ngIf="tabId!=4" class="btn_distance_black1">{{beer.distance_km}}</div>-->
              <div *ngIf="tabId==4" class="btn_distance_golden">{{beer.distance_km}}km</div>
              <!--<div *ngIf="tabId==4" class="btn_distance_golden1">{{beer.distance_km}}</div>-->
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="tabId>1">
        <ion-row style="height: 4px; background-color: #aaaaaa;">
          <button ion-button class="slide_button" (click)="changeTabId(1)">
            <ion-icon ios="ios-arrow-down" md="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-row>
        <ion-row style="height: 200px; width: 100%">
          <div *ngIf="tabId==2"  style="width: 100%">
            <div class="div1">
              <div style="font-weight: bold">
                Beer
              </div>
              <div *ngIf="beer.beerN1">{{beer.beerN1}} {{beer.beerM1}}ml - {{beer.beerC1}}{{beer.currency}}</div>
              <div *ngIf="beer.beerN2" >{{beer.beerN2}} {{beer.beerM2}}ml - {{beer.beerC2}}{{beer.currency}}</div>
              <div style="font-weight: bold; margin-top: 10px;">
                Wine
              </div>
              <div *ngIf="beer.wineN1">{{beer.wineN1}} {{beer.wineC1}}{{beer.currency}}</div>
              <div *ngIf="beer.wineN2">{{beer.wineN2}} {{beer.wineC2}}{{beer.currency}}</div>
              <div ></div>
              <div style="font-weight: bold; margin-top: 10px;">
                Cider
              </div>
              <div *ngIf="beer.ciderN1">{{beer.ciderN1}} {{beer.ciderM1}}ml - {{beer.ciderC1}}{{beer.currency}}</div>
              <div *ngIf="beer.ciderN2">{{beer.ciderN2}} {{beer.ciderM2}}ml - {{beer.ciderC2}}{{beer.currency}}</div>
              <div ></div>

            </div>
            <div class="div2">
              <div style="font-weight: bold">
                Food
              </div>
              <div *ngIf="beer.foodN1">{{beer.foodN1}} {{beer.foodC1}}{{beer.currency}}</div>
              <div *ngIf="beer.foodN2">{{beer.foodN2}} {{beer.foodC2}}{{beer.currency}}</div>
              <div *ngIf="beer.foodN3">{{beer.foodN3}} {{beer.foodC3}}{{beer.currency}}</div>
              <div style="font-weight: bold; margin-top: 10px;">
                Spirit
              </div>
              <div *ngIf="beer.spiritN1">{{beer.spiritN1}} {{beer.spiritM1}}ml - {{beer.spiritC1}}{{beer.currency}}</div>
              <div *ngIf="beer.spiritN2">{{beer.spiritN2}} {{beer.spiritM2}}ml - {{beer.spiritC2}}{{beer.currency}}</div>
            </div>
            <div class="div3">
              <button ion-button color="dark" style="margin: 10px auto 20px auto; height: 30px" (click)="updateProfile(beer.beerId)">
                Update
              </button>
            </div>
            </div>
          <div *ngIf="tabId==3"  style="width: 100%; height: 100%">
            <div style="height: 120px;width: 100%; padding-top: 20px">
              <ion-scroll scrollY="true" style="height: 100%; width: 100%">
                <ion-list>
                  <ion-item *ngFor="let rate of rates" style="font-size: 12px; height: 60px">
                    <div style="font-weight: bold; padding-top: 5px; margin-top: 0px; height: 40px" item-start>
                      {{rate.name}}
                    </div>
                    <div style="font-size: 15px;">
                      <rating [(ngModel)]="rate.rate"
                              readOnly="true"
                              max="5"
                              emptyStarIconName="star-outline"
                              halfStarIconName="star-half"
                              starIconName="star"
                              nullable="false" style="margin-left: 40px"></rating>
                    </div>
                    <div style="position: absolute; left: 15px; top: 40px">
                      {{rate.comment}}
                    </div>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </div>
            <div>
              <div style="font-size: 25px; font-weight: bold; width: 60%" no-margin>Your opinion:</div>

              <rating [(ngModel)]="rate"
                      readOnly="false"
              max="5"
              emptyStarIconName="star-outline"
              halfStarIconName="star-half"
              starIconName="star"
              nullable="false"
              (ngModelChange)="onModelChange(beer.beerId)"  style="font-size: 25px"></rating>
            </div>
          </div>
          <div *ngIf="tabId==4" style="width: 100%">
            <div class="div5">
              {{beer.walking_time}} walking<br>
              {{beer.public_time}} by public transportation<br>
              {{beer.uber_time}} by ubur
            </div>
            <div class="div6">
              <button ion-button color="dark" style="margin :10px auto 10px auto;" (click)="openMap(beer.beerId)">
                Open in map
              </button>
            </div>

          </div>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>

</ion-footer>
