

<ion-content padding>

  <ion-grid>
    <ion-row>
      <button class="btn_close" (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-row>
    <ion-row>
      <div style="font-size: 20px; font-weight: bold; width: 100%">
        Your name:
      </div>
    </ion-row>
    <ion-row>
        <ion-input [(ngModel)]="username" type="text" class="input" maxlength="30"></ion-input>
    </ion-row>
    <ion-row>
      <div style="font-size: 20px; font-weight: bold; width: 100%">
        Your commments:
      </div>
    </ion-row>
    <ion-row>
      <ion-input [(ngModel)]="comment" type="text" class="input" maxlength="40"></ion-input>
    </ion-row>
    <ion-row style="text-align: center">
      <button ion-button class="btn_save" (click)="saveComments()">
        Save
      </button>
    </ion-row>
  </ion-grid>


</ion-content>
