page-commments {
  .content {
    background: rgba(200,210,200,0.9);
    width: 90%;
    height: 40%;
    margin-left: 20px;
    margin-top: auto;
    top: 45%;
    border-radius: 20px;
    font-size: 11.5px;
    font-weight: bold;
  }
  .btn_close {
    color: #000;
    background: transparent;
    width: 25px;
    height : 25px ;
    margin-left : auto;
    margin-right : 10px;
  }
  .btn_save {
    background-color: #000;
    border-radius: 5px;
    color: white;
    margin-left : auto;
    margin-right : auto;
    height: 20px;
    font-size: 15px;
  }
  ion-grid {
    height : 220px;
    ion-row {
      height:30px;
    }
  }
  .input {
    padding: 4px 5px;
    margin: 5px 30px;
    font-size: 15px;
    background-color: #FAFAFA;
    font-weight: 200;
    width: 80%;
    border-radius: 10px;

  }
}
