
<ion-content>
    <ion-grid>
      <ion-scroll scrollY="true" style="width: 100%; height: 100%;">
      <ion-row>
        <button class="btn_close" (click)="closeModal()">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
        </button>
      </ion-row>
      <ion-row>
        <ion-col>
         Address
        </ion-col>
        <ion-col col-9>
          <ion-input (click)="showAddressModal()"  [(ngModel)]="br.address" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Name
        </ion-col>
        <ion-col col-9>
          <ion-input [(ngModel)]="br.name" type="text" class="input" maxlength="30"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-items-start>
        <ion-col col-3>
          Description
        </ion-col>
        <ion-col col-9>
          <ion-textarea [(ngModel)]="br.description" type="text" maxlength="160" style="height: 60px; padding: 5px 5px"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button class="btn_upload" (click)="uploadLogo()">
          Upload logo
        </button>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-5 text-center>Name</ion-col>
        <ion-col col-2 text-center>ml</ion-col>
        <ion-col col-2 text-center>{{br.currency}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>Beer</ion-col>
        <ion-col col-5>
          <ion-input [(ngModel)]="br.beerN1" type="text"  maxlength="15"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.beerM1" type="number"  maxlength="3" (ngModelChange)="br.beerM1 = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.beerC1" type="number"  maxlength="3" (ngModelChange)="br.beerC1 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-5>
          <ion-input [(ngModel)]="br.beerN2" type="text"  maxlength="15"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.beerM2" type="number"  maxlength="3" (ngModelChange)="br.beerM2 = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.beerC2" type="number"  maxlength="3" (ngModelChange)="br.beerC2 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>Wine</ion-col>
        <ion-col col-7>
          <ion-input [(ngModel)]="br.wineN1" type="text" maxlength="20"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.wineC1" type="number"  maxlength="3" (ngModelChange)="br.wineC1 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-7>
          <ion-input [(ngModel)]="br.wineN2" type="text" maxlength="20"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.wineC2" type="number" maxlength="3" (ngModelChange)="br.wineC2 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>Cider</ion-col>
        <ion-col col-5>
          <ion-input [(ngModel)]="br.ciderN1" type="text" maxlength="15"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.ciderM1" type="number"  maxlength="3" (ngModelChange)="br.ciderM1 = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.ciderC1" type="number"  maxlength="3" (ngModelChange)="br.ciderC1 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-5>
          <ion-input [(ngModel)]="br.ciderN2" type="text" maxlength="15"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.ciderM2" type="number" maxlength="3" (ngModelChange)="br.ciderM2 = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.ciderC2" type="number" maxlength="3" (ngModelChange)="br.ciderC2 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>Food</ion-col>
        <ion-col col-7>
          <ion-input [(ngModel)]="br.foodN1" type="text"  maxlength="20"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.foodC1" type="number"  maxlength="3" (ngModelChange)="br.foodC1 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-7>
          <ion-input [(ngModel)]="br.foodN2" type="text" maxlength="20"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.foodC2" type="number" maxlength="3" (ngModelChange)="br.foodC2 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col col-3></ion-col>
          <ion-col col-7>
            <ion-input [(ngModel)]="br.foodN3" type="text" maxlength="20"></ion-input>
          </ion-col>
          <ion-col col-2>
            <ion-input [(ngModel)]="br.foodC3" type="number" maxlength="3" (ngModelChange)="br.foodC3 = convertToNumber($event)"></ion-input>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-3>Spirit</ion-col>
        <ion-col col-5>
          <ion-input [(ngModel)]="br.spiritN1" type="text" maxlength="15"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.spiritM1" type="number" maxlength="3" (ngModelChange)="br.spiritM1 = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.spiritC1" type="number" maxlength="3" (ngModelChange)="br.spiritC1 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-5>
          <ion-input [(ngModel)]="br.spiritN2" type="text" maxlength="15"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.spiritM2" type="number" maxlength="3" (ngModelChange)="br.spiritM2 = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-2>
          <ion-input [(ngModel)]="br.spiritC2" type="number" maxlength="3" (ngModelChange)="br.spiritC2 = convertToNumber($event)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button class="btn_save" (click)="saveProfile()">
          Save
        </button>
      </ion-row>
      </ion-scroll>
    </ion-grid>
</ion-content>
