page-info {
  .content {
    background: rgba(200,210,200,0.9);
    width: 90%;
    height: 90%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 20px;
    font-size: 11.5px;
    font-weight: bold;
  }
  .ion-input {
    background-color: #FFFFFF;
  }
  .btn_close {
    color: #000;
    background: transparent;
    width: 25px;
    height : 25px ;
    margin-left : auto;
    margin-right : 10px;
  }

  .btn_upload {
    background-color: #aaa;
    color: white;
    border-radius: 5px;
    margin-left : 20px;
    margin-right : auto;
    height: 20px;
    font-size: 12px;
  }
  .btn_save {
    background-color: #000;
    border-radius: 5px;
    color: white;
    margin-left : auto;
    margin-right : auto;
    height: 20px;
    font-size: 15px;
  }

  ion-grid {
    height : 100%;
    ion-row {
      height:5%;
    }
  }
  .input {
    padding: 0 0 0 5px;
    margin: 0;
    background-color: #FAFAFA;
    font-weight: 200;
    border-radius: 10px;

  }
}
