<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>admin</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div style="background-color: #e6e6e6; height: 250px">
    <div style="font-size:20px; font-weight: bold; padding: 10px">Admin Settings</div>
    <ion-list radio-group [(ngModel)]="admin.isAgree">
      <ion-item>
        <ion-label>Permission</ion-label>
        <ion-radio [value]="false"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Not Permission</ion-label>
        <ion-radio [value]="true"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid style="font-size: 18px" >
      <ion-row>
        <ion-col col-4 text-center>r</ion-col>
        <ion-col col-4 text-center>p</ion-col>
        <ion-col col-4 text-center>d</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-input text-center type="number" [(ngModel)]="admin.r" (ngModelChange)="admin.r = convertToNumber($event)"></ion-input>
        </ion-col>
        <ion-col col-4>
          <ion-input text-center type="number" [(ngModel)]="admin.p" (ngModelChange)="admin.p = convertToNumber($event)" ></ion-input>
        </ion-col>
        <ion-col col-4>
          <ion-input text-center type="number" [(ngModel)]="admin.d" (ngModelChange)="admin.d = convertToNumber($event)" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="height: 100%">
    <ion-scroll scrollY="true" style="height: 100%">
      <ion-card *ngFor="let beer of (beers | async)?.slice().reverse()" style="background: #FAFAFA">
        <ion-card-content>
          <ion-item>
            <img src="{{beer.logoUrl}}" style="width: 20vw;" item-start>
            <h5>{{beer.name}}</h5>
            <p>{{beer.description}}</p>
          </ion-item>
          <ion-item>
            <ion-label floating>promo</ion-label>
            <ion-input [(ngModel)]="beer.promo" type="number" (blur)="changePromo(beer.beerId, beer.promo)"></ion-input>
          </ion-item>
          <!--<ion-item style="background: transparent">-->
          <ion-grid style="font-size: 10px" >
            <!--<ion-item>-->
            <ion-row radio-group [(ngModel)]="beer.isPublish" (ionChange)="setIsPublish(beer.beerId,beer.isPublish)">
              <ion-col col-3>
                <ion-label>Publish</ion-label>
              </ion-col>
              <ion-col col-3>
              <ion-radio [value]="true"></ion-radio>
              </ion-col>
              <!--</ion-item>-->
              <ion-col col-3>
                <ion-label>Not Publish</ion-label>
              </ion-col>
              <ion-col col-3>
                <ion-radio [value]="false"></ion-radio>
              </ion-col>
            </ion-row>
            <ion-row radio-group [(ngModel)]="beer.isUpdate" (ionChange)="setIsUpdate(beer.beerId,beer.isUpdate)">
              <ion-col col-3>
                <ion-label>Update</ion-label>
              </ion-col>
              <ion-col col-3>
                <ion-radio [value]="true"></ion-radio>
              </ion-col>
              <ion-col col-3>
                <ion-label>Not Update</ion-label>
              </ion-col>
              <ion-col col-3>
                <ion-radio [value]="false"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!--</ion-item>-->

        </ion-card-content>
      </ion-card>
    </ion-scroll>
  </div>


</ion-content>
