page-admin {
  .input {
    padding: 0 0 0 5px;
    margin: 0;
    background-color: #FFF;
    font-weight: 200;
    border-radius: 3px;

  }
  ion-row {
    height:30px;
  }

  .item {
    background: transparent;
    height: 60px;
  }
  .label {
    margin : 0;
  }
}
